body {
  margin: 0px;
}

h1,
h3,
p {
  font-family: "Georgia", "Times New Roman", Times, serif;
}

.image-cropper {
  width: 75px;
  height: 75px;
  position: relative;
  overflow: hidden;
  border-radius: 50%;
  box-shadow: 2px 1px 10px #d6d6d6;
}

.profile-pic {
  display: inline;
  margin-left: -25%;
  height: 100%;
  width: auto;
}
