.page-header {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  padding-left: 50px;
  border-bottom: 1px solid rgb(236, 236, 236);
  box-shadow: 0px 2px 100px #ececec;
}

.page-header-title {
  padding: 10px 10px 10px 20px;
}

.page-header-profile-image {
  margin: 10px;
}
